.left_sidebar
    position: fixed
    width: 240px
    height: 100vh
    background-color: #F7F4EB
    display: grid
    grid-template-rows: 2fr 2fr 1fr
    grid-auto-flow: row
    row-gap: 1rem
    //縮放功能
    // transform: translate(-100%)
    .logo
        display: flex
        justify-content: center
        align-items: center
    .navigation
        display: flex
        justify-content: center
        align-items: center
        max-width: 100%
        flex-direction: column
        a
            // color: white
            margin: 1rem
.lan
    display: grid
    grid-template-columns: 2fr 1fr 2fr
